        <footer class="footer_part">
            <div class="footer_top">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="single_footer_part">
                                <a href="index.html" class="footer_logo_iner"> <img src="/img/logo.png" alt="#"> </a>
                                <p> But we loved with a love that was more than love- I and my Annabel Lee.This too shall pass lol
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="single_footer_part">
                                <h4>Contact Info</h4>
                                <p>Address : AS Fortuna Covid Street Cebu City</p>
                                <p>Phone : 0965566666</p>
                                <p>Email : dresama@patodono.com</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="single_footer_part">
                                <h4>Important Link</h4>
                                <ul class="list-unstyled">
                                    <li><a href=""> Facebook</a></li>
                                    <li><a href="">Twitter</a></li>
                                    <li><a href="">Instagram</a></li>
                                    <li><a href="">Lazada</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>